<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" /> -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var appId = '${appId}';
		var socket = io.connect();
		socket.on('connect', function() {
			socket.emit('appId', appId);
		});
		
	</script>
	<script src="/js/ev2.js"></script>
	<script src="/js/mustache.js"></script>
	<script src="/js/jquery-1.6.4.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/controller.js"></script>
	<script src="/js/defaultText.js"></script>
</head>
<body>

<div id='container'>
	<!-- <div id='heading'>
		<img src='/images/logo.png' align='center'/>
	</div> -->
	<div id='cpanel'>
		<div id='txtSms'>SMS Log Stream</div>
		<button id='btnclear'>Clear</button>
		<select id='filterBy'> 
			<option value='none'>None</option>
		</select>
		<div id='txtFilterBy'>Filter By</div>
		<div style='clear: both'></div>
		<div id='hideMo'>
			<input type="checkbox" name="hideMo" value=true />
			Show only Receiving messages
		</div>
	</div>

	<div id='stream'>

	</div>

	<div id='sender'>
		<div id='phoneNo'>
			<input type='text' maxlength="10" tabindex=1/>
			<button id='register' tabindex=4>Register</button>
			<button id='unregister' tabindex=5>Unregister</button>
		</div>
		<div id='keypad'>
			<textarea tabindex=2></textarea>
		</div>
		<button id='btnSend' tabindex=3>Send</button>
		<div style='clear: both'></div>
	</div>

</div>

<!-- Mustache Templates for Stream SMS type -->
<div style='width: 700px; display: none'>
	
	<div id='sms_mt'>
		<div class='sms'>
			<div id='one'>
				<span id='phoneNo' class='label warning' onclick='doFilter("${m_start}address${m_end}")'>To: ${m_start}address${m_end}</span>
				<span id='time' class='label success'>@ ${m_start}time${m_end}</span>
				<div id='textAsMe'>
					<span class='label' onclick = 'textAsMe("${m_start}address${m_end}")'>text as me</span>
				</div>
			</div>
			<div id='two'>
				${m_start}message${m_end}
			</div>
			<div style='clear: both'></div>
		</div>
	</div>

	<div id='sms_mo'>
		<div class='sms'>
			<div id='one'>
				<span id='phoneNo' class='label important' onclick='doFilter("${m_start}address${m_end}")'>From: ${m_start}address${m_end}</span>
				<span id='time' class='label success'>@ ${m_start}time${m_end}</span>
				<div id='textAsMe'>
					<span class='label' onclick = 'textAsMe("${m_start}address${m_end}")'>text as me</span>
				</div>
			</div>
			<div id='two'>
				${m_start}message${m_end}
			</div>
			<div style='clear: both'></div>
		</div>
	</div>

	<div id='sms_broadcast'>
		<div class='sms'>
			<div id='one'>
				<span id='phoneNo' class='label notice'>Broadcast</span>
				<span id='time' class='label success'>@ ${m_start}time${m_end}</span>
			</div>
			<div id='two'>
				${m_start}message${m_end}
			</div>
			<div id='three'>
			</div>
			<div style='clear: both'></div>
		</div>
	</div>

</div>

</body>
</html>