<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" /> -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var appId = '${appId}';
		var socket = io.connect('http://localhost:${port}');
	</script>
	<script src="/js/ev2.js"></script>
	<script src="/js/mustache.js"></script>
	<script src="/js/jquery-1.6.4.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>

<div id='container'>
	<div id='heading'>
		<img src='/images/logo.png' align='center'/>
	</div>
	<div id='cpanel'>
		<div id='txtSms'>SMS Log</div>
		<select id='filterBy'> 
			<option value='none'>None</option>
		</select>
		<div id='txtFilterBy'>Filter By</div>
		<div style='clear: both'></div>
	</div>

	<div id='stream'>

	</div>

	<div id='sender'>
		<div id='phoneNo'>
			<input type='text'/>
		</div>
		<div id='keypad'>
			<textarea ></textarea>
		</div>
		<button id='btnSend'>Send</button>
		<div style='clear: both'></div>
	</div>

</div>

<!-- Mustache Templates for Stream SMS type -->
<div style='width: 700px; display: none'>
	
	<div id='sms_mt'>
		<div class='sms'>
			<div id='one'>
				<span id='phoneNo' class='label warning'>To: ${m_start}address${m_end}</span>
				<span id='time' class='label success'>@ ${m_start}time${m_end}</span>
			</div>
			<div id='two'>
				${m_start}message${m_end}
			</div>
			<div id='three'>
				<span id='tam' class='label' onclick = 'tam("${m_start}address${m_end}")'>text as me</span>
			</div>
			<div style='clear: both'></div>
		</div>
	</div>

	<div id='sms_mo'>
		<div class='sms'>
			<div id='one'>
				<span id='phoneNo' class='label important'>From: ${m_start}address${m_end}</span>
				<span id='time' class='label success'>@ ${m_start}time${m_end}</span>
			</div>
			<div id='two'>
				${m_start}message${m_end}
			</div>
			<div id='three'>
				<span id='tam' class='label' onclick = 'tam("${m_start}address${m_end}")'>text as me</span>
			</div>
			<div style='clear: both'></div>
		</div>
	</div>

	<div id='sms_broadcast'>
		<div class='sms'>
			<div id='one'>
				<span id='phoneNo' class='label notice'>Broadcast</span>
				<span id='time' class='label success'>@ ${m_start}time${m_end}</span>
			</div>
			<div id='two'>
				${m_start}message${m_end}
			</div>
			<div id='three'>
				<span id='tam' class='label' onclick = 'tam("${m_start}address${m_end}")'>text as me</span>
			</div>
			<div style='clear: both'></div>
		</div>
	</div>

</div>

</body>
</html>